*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body{
  min-height:100vh;
  display: flex;
  flex-direction: column; 
}
a,ul{
  list-style: none;
  text-decoration: none;
}
.Logo{
  display: block;
  width: 100%;
}
.Header{
  flex-wrap: wrap;
  display: flex;
}
.Menu ul{
  display: flex;
}
.Footer{
  width: 100%;
  margin-top: auto;
  padding: 1em 0;
  text-align: center;
  background: black;
  font-family: sans-serif;
  color:white;
}