<header class="header">
        <div class="logo">
            <a href="/">Logo</a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/portafolio"></a>Portafolio</li>
                <li><a href="/contact"></a></li>
                <li><a href="/404">Error</a></li>
            </ul>
        </nav>
    </header>