- let pageTitle = 'Inicio'
- let currentPage = 'inicio'
- let siteTitle = 'Thom Maurick'

-
    let pages = [
        {
            title:"Home",
            url:"/"
        },
        {
            title:"About",
            url:"about.html"
        }
    ]